@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900");

h1,
p,
span,
h2 {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #222222;
}

.active svg {
  color: #222222;
  opacity: 1;
}

a {
  text-decoration: none;
}
