@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900");

h1,
p,
span,
h2 {
  font-family: "Roboto", sans-serif;
}

.active {
  color: #222222;
}

.active svg {
  color: #222222;
  opacity: 1;
}

.active span {
  color: #222;
}

.active-home {
  color: #fff;
}

.active-home svg {
  color: #fff;
  opacity: 1;
}

.active-home span {
  color: #fff;
}

a {
  text-decoration: none;
}

.fade-enter {
  opacity: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
